# Byte-compiled / optimized / DLL files
*$py.class
*.py[cod]
__pycache__/

# C extensions
*.so

# Common editor configs
.env
.idea
.idea/
.vscode
.vscode/

# Distribution / packaging
*.egg
*.egg-info/
MANIFEST
build/
dist/

# mypy
.dmypy.json
.mypy_cache/
dmypy.json

# Unit test / coverage reports
.pytest_cache/

# Virtual Environments
.venv*/
